.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('http://apinube.com/Lenna.png');
    background-size: cover;
  }
  .example-spacer {
      flex: 1 1 auto;
  }