<mat-toolbar color="primary">
  <span>Aplicación de pruebas</span>
  <span class="example-spacer"></span>  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>   
</mat-toolbar>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item>Configuración</button>
    <button mat-menu-item>Ayuda</button>
</mat-menu>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Lenna</mat-card-title>
      <mat-card-subtitle>Procesamiento de imágenes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://apinube.com/Lenna.png" alt="Foto de Lenna">
    <mat-card-content>
      <p>
          Lenna (que debería llamarse en realidad Lena) es un fragmento de fotografía 
          de una playmate reproducida en el número de noviembre (miss noviembre) de 1972
          de la revista Playboy. Sirve como imagen de prueba para los algoritmos de
          compresión de imagen y se ha convertido de facto en un estándar industrial y científico.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
          <mat-icon>allo</mat-icon>
      </button>
      <button mat-button>
          <mat-icon>share-variant</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
<!--
<mat-card *ngFor="let data of (myData ? myData.slice(0,10):[]); let i = index">
  <mat-card-title>
    <h1>{{data.title}}</h1>
  </mat-card-title>  
  <img mat-card-image src="{{data.url}}"><img> 
  <mat-card-content>
    Imagen {{data.id}}
  </mat-card-content>
<mat-card-actions>
    <button mat-button>Acción 1</button>
    <button mat-button>Acción 2</button>
</mat-card-actions>
</mat-card>
-->